{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Accueil</h1>
        <hr class="my-4">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for u in utilisateurs %}
                        <tr>
                            <td>{{u.username}}</td>
                            <td>{{u.email}}</td>
                            <td>
                                <a href="#"><button type="button" class="btn btn-success">Modiffier</button></a>
                                <a href="#"><button type="button" class="btn btn-warning">Supprimer</button></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}